<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sequential Test Suite">
    <test name="Sequential Test" thread-count="2">
        <classes>
            <class name="Test.product_add_to_cart_and_check_test"/>
            <class name="Test.without_login_add_to_cart_check_test"/>
        </classes>
    </test>
</suite>
        <!--Sıralı Test İçin Yukaradaki Xml Kodlarını Aktif Edin -->

<!--Paralel Test İçin Aşağıdaki Kodları Aktif Edin-->
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >-->
<!--<suite name = "Parallel Testing Suite">-->
<!--    <test name = "Parallel Tests" parallel = "classes" thread-count = "2">-->
<!--        <classes>-->
<!--            <class name = "Test.product_add_to_cart_and_check_test" />-->
<!--            <class name = "Test.without_login_add_to_cart_check_test" />-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->